/* Resetting margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    
    background-image: url('header.png'); 
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
    background-size: cover; 
    background-position: center; 
}


header h1 {
    margin-bottom: 20px; 
}



header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    background-image: url('path-to-your-hero-image.jpg');
    background-size: cover;
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.genre {
    background-color: #eeeeee;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 40px);
    text-align: center;
}

footer {
    background-color: #123456;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
